os: linux

language: java
jdk: 
  - openjdk11

services:
  - docker

env:
  global:
  - secure: "$DOCKER_HUB_USER_NAME"
  - secure: "$DOCKER_HUB_PASSWORD"

before_install:
  - chmod +x ./.travis/docker-build-and-push.sh

script: cd core && mvn clean package

after_success: 
  - bash ../.travis/docker-build-and-push.sh
